version: '3.8'

services:
  gateway-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gateway-service
    environment:
      - configPath=/app/config.yaml
    ports:
      - "8080:8080"
    networks:
      - gateway-net

networks:
  gateway-net:
    name: gateway-net
    driver: bridge

